.container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.1rem;
    border: 2px solid red;
}

#child {
    background-color: aqua;
}