.container {
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.2rem;
}

#child {
    background-color: aqua;
}